{% extends "site/base.html" %}

{% block pagetitle %}
{% endblock %}

{% block content %}
  
   <!--main page content -->
     <div class="row">
       <div class="span12">
          {% block page_top_menu %}
            <!-- top menu content -->
          {% endblock %}
       </div>
     </div>
    
	 <div class="row">
	   <div class="offset1 span4">
	     {% block page_column_one %}
	       <!-- column one content -->
	     {% endblock %}
	   </div>
	   <div class="offset1 span5">
	     {% block page_column_two %}
	       <!-- column two content -->
	     {% endblock %}
	   </div>
	 </div> 
   <!--end main page content -->

{% endblock %}   


