{% extends "site/base.html" %}

{% block extrahead %}
{% endblock %}

{% block pagetitle %}
{% endblock %}

{% block content %}
   
   <!--main page content -->  
    <div class="row">
      <div class="span12">
          {% block page_top_menu %}
            <!-- top menu content -->
          {% endblock %}
      </div>
    </div>
    
    <div class="row">
      <div class="span12">
	    <div class="row">
	      <div class="offset1 span7">
	        {% block page_column_one %}
	          <!-- column one content -->
	        {% endblock %}
	      </div>
	      <div class="span3">
	        {% block page_column_two %}
	          <!-- column two content -->
	        {% endblock %}
	    </div>
	  </div>
	</div>
	<!-- end main page content -->
	
{% endblock %}   

{% block extrajs %}
{% endblock %}


