{% extends "site/one_column_page.html" %}
    
    {% block pagetitle %}
      Welcome
    {% endblock %}
 
    {% block page_column_one %}
      <p class="justify">
        PIMMS is an infrastructure to manage the metadata requirements of a climate modelling project            
      </p>
   
      <div class="row">
        <div class="offset1 span10">
          <div class="row well">
            <div class="span6 offset1">
              1. Create experiments            
            </div>
            <div class="span2">
              <a href="{{ urls.exphome }}" class="btn btn-primary btn-block"><strong>Go</strong></a>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="offset1 span10">
          <div class="row well">
            <div class="span6 offset1">
              2. Manage Controlled Vocabs            
            </div>
            <div class="span2">
              <a href="{{ urls.cvhome }}" class="btn btn-primary btn-block"><strong>Go</strong></a>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="offset1 span10">
          <div class="row well">
            <div class="span6 offset1">
              3. Metadata Questionnaire            
            </div>
            <div class="span2">
              <a href="{{ urls.qn }}" class="btn btn-primary btn-block"><strong>Go</strong></a>
            </div>
          </div>
        </div>
      </div>
 
    {% endblock %}
