{% extends "site/two_column_page_wideleft.html" %}

{% block extrahead %}
<link href="{{ STATIC_URL }}css/fineuploader.css" rel="stylesheet">
{% endblock %}

{% block pagetitle %}
    Metadata questionnaire management 
{% endblock %}

{% block page_top_menu %}
    
    <div class="page-header">
      <h3>New Questionnaire Parameters</h3>
    </div>
  
{% endblock %}

{% block page_column_one %}
<div id="bootstrapped-fine-uploader"></div>
{% endblock %} 

{% block page_column_two %} 
{% endblock %}

{% block extrajs %}
<script src="{{ STATIC_URL }}js/jquery.fineuploader-3.0.js">
</script>

<script>
  function createUploader() {
    var uploader = new qq.FineUploader({
      element: document.getElementById('bootstrapped-fine-uploader'),
      request: {
        endpoint: 'server/handleUploads'
      },
      text: {
        uploadButton: '<i class="icon-upload icon-white"></i> Test me now and upload a file'
      },
      template: '<div class="qq-uploader span12">' +
                '<pre class="qq-upload-drop-area span12"><span>{dragZoneText}</span></pre>' +
                '<div class="qq-upload-button btn btn-success" style="width: auto;">{uploadButtonText}</div>' +
                '<ul class="qq-upload-list" style="margin-top: 10px; text-align: center;"></ul>' +
                '</div>',
      classes: {
        success: 'alert alert-success',
        fail: 'alert alert-error'
      },
      debug: true
    });
  }

  window.onload = createUploader;
</script>
{% endblock %}
