import os
thisDir = os.path.dirname(os.path.abspath(__file__))

DEBUG = True

ADMINS = (
    ('${ADMIN_NAME}', '${ADMIN_EMAIL}')
)

MANAGERS = ADMINS

SERVER_EMAIL = '${SERVER_EMAIL}'

DATABASE_ENGINE = 'postgresql_psycopg2'
DATABASE_NAME = 'pimms'
DATABASE_USER = 'pimms'
DATABASE_PASSWORD = '${DB_PASSWORD}'
DATABASE_HOST = '${DB_HOST}'
DATABASE_PORT = '${DB_PORT}'

import logging
LOG = logging

STATICFILES_DIRS = (
    thisDir + '/static/',
)

# This is the location where static files will be installed during deployment
# The deployment script should run "python manage.py collectstatic --noinput"
# to collect static files into this directory
STATIC_ROOT = '${DEPLOYMENT}/static'
