{% extends "qn/base.html" %}

{% block content %}

<div class="boxer titlerow">
  Summary page for <b>{{ project }}</b>
</div>

<!-- Page help section -->
{% include 'qn/centre/centrehelp.html' %}

<div class="boxer">
  <table>
    <tr>
      <td width="33%">
	       <!-- Platform summary section -->
        {% include 'qn/centre/centreplats.html' %}
      </td>
    </tr>
    <tr>
      <td width="33%">
        <!-- Grid summary section -->
        {% include 'qn/centre/centregrids.html' %}
      </td>
    </tr>
    <tr>
      <td width="33%">    
        <!-- Model summary section -->
        {% include 'qn/centre/centremodels.html' %}
      </td>
    </tr>    
  </table>
  
  <!-- Simulations summary section -->
  <div class="boxer">
    {% include 'qn/centre/centresimtable.html' %}
  </div>
  
</div>

{% endblock %}

{% block pagejs %}
<script type="text/javascript">
    /* <![CDATA[ */
    $(document).ready(function() {
     $('#sims-table').dataTable({
      "bJQueryUI": true,
      "bAutoWidth": false,
      'sPaginationType': 'full_numbers',
      'aaSorting': [[ 0, "desc" ]],
     });
    } );
    /* ]]> */
</script>
{% endblock %} 